.button{
    text-decoration: none;
    background-color: #1775bf;
    padding: 10px 25px;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    min-width: 150px;
}

.here{
    color: #6abf17;
}